<h1>Listing information</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Posted at</th>
    <th>Enable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @information.each do |information| %>
  <tr>
    <td><%= information.body %></td>
    <td><%= information.posted_at %></td>
    <td><%= information.enable %></td>
    <td><%= link_to 'Show', information %></td>
    <td><%= link_to 'Edit', edit_information_path(information) %></td>
    <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Information', new_information_path %>
